.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 50px;
}

.footer__social,
.footer__subscribe,
.footer__contact,
.footer__links {
  flex: 1 1 auto;
}

.footer__info {
  margin-right: 15px;
}

.footer__social .social__link {
  margin-right: 30px;
}

.footer__social .social__link:last-child {
  margin-right: 0;
}

.footer__text {
  max-width: 270px;
  word-wrap: break-word;
  margin: 20px 0;
  font-size: 14px;
  color: #000;
}

.footer__links,
.footer__contact {
  display: flex;
  flex-direction: column;
}

.footer__link-title {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.footer__link {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer__subscribe-info {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 25px;
}

.footer__input {
  width: 100%;
  height: 53px;
  border: transparent;
  border-radius: 5px;
  font-size: 14px;
  color: var(--text-black);
  background: linear-gradient(
    270.04deg,
    #d8d5d5 0.14%,
    rgba(196, 196, 196, 0) 101.01%
  );
  outline: none;
}

.footer__subscribe-input {
  position: relative;
}

.footer__button {
  background-color: var(--red);
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 11px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.copy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

.copy__made {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: #666666;
}

.copy__img {
  margin-top: 10px;
}

.copy__lang {
  flex-direction: row;
}

.copy__lang .lang__item:last-child {
  margin-left: 10px;
}

.footer__subscribe-input {
  background: linear-gradient(
    270.04deg,
    #d8d5d5 0.14%,
    rgba(196, 196, 196, 0) 101.01%
  );
  border-radius: 5px;
}

.footer__input {
  background: transparent;
  width: 60%;
}
